{% extends 'base.html' %}

{% block main %}
    <div class="row">
        <div class="col-4">
            <p>Olá {{ usuario.funcionario.nome }}</p>
            {{ usuario.funcionario.empresa.nome }}
            <a href="{% url 'list_funcionarios' %}">Gerenciar funcionarios</a>
            <a href="{% url 'list_departamentos' %}">Gerenciar departamentos</a>
            <a href="{% url 'list_hora_extra' %}">Gerenciar banco de horas</a>
        </div>
        <div class="col-4">
            {% if usuario.funcionario.empresas %}
                <a href="{% url 'edit_empresa' usuario.funcionario.empresas.id %}">Editar empresa</a>
            {% else %}
                <a href="{% url 'create_empresa' %}">Criar empresa</a>
            {% endif %}
        </div>
        <div class="col-4">
            <a href="{% url 'logout' %}">Logout</a>            
        </div>
    </div>


{% endblock %}
